h1 {
    display: flex;
    justify-content: center;
}
header nav li {
    list-style: none;
    padding: 0px 0px 10px 0px;
}
 header nav li a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: rgb(32, 24, 24);
 }
 footer {
    display: flex;
    justify-content: center;
    color: rgb(185, 32, 32);
 }
 body {
    background-color: aqua;
 }
 @media only screen and (min-width: 320px) {
   body { 
       font-size: 14px;
   }
   }
   @media screen and (max-width: 1440px) {
       body { 
           font-size: 18px;
       }
       
   }